--- 
interface Props {
	title: string
  reference?: string
}

const { title, reference } = Astro.props;

import Canvas from '../components/Canvas.astro';
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<h1 class={`_${title.replace(/[-]/g, '_').split(' ')[0]}`}>{title}</h1>
    <Canvas />
    <slot />
    {
      reference
        ? <p class="reference">参考サイト：<a href={reference}></a>{reference}</p>
        : ''
    }
	</body>
</html>

<style is:global>
  * {
    all: unset;
		display: revert;
  }
  h1 {
    position: relative;
    z-index: 1;
    margin-top: .5em;
    margin-left: .5em;
    mix-blend-mode: difference;
    font-weight: 700;
    font-size: 1.6rem;
    pointer-events: none;
  }
  h1 + ol {
    list-style: disc;
    margin-top: 2.0rem;
    margin-inline: 2.5rem;
  }
  a:link {
    text-decoration: underline;
  }
  canvas {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
  }
  p.reference {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 1rem 1rem 0;
    mix-blend-mode: difference;
  }
</style>
